<link href="https://fonts.googleapis.com/css2?family=Silkscreen&display=swap" rel="stylesheet">
<div class="conteiner">
  <img class="img" alt="/src/assets/fundo trabalho.png">
  <form action="">
    <div class="emerson">
      <fieldset>
        <legend><b>Emerson Steve Arteaga Vasquez</b></legend>
        <h2>Desenvolvimento de Sistemas</h2>
        <h2>Quero Trabalhar como Frot-end</h2>
        <h2>Jogar video game</h2>
        <h2>Linkedin</h2>
        <div class="git">
          <a href="https://github.com/EmersonSteven"><b>Github</b></a>
        </div>
        <br>
      </fieldset>
    </div>
  </form>
  <br>

  <form action="">
    <div class="luiz">
      <fieldset>
        <legend><b>Luiz Henrique Bobadilha de Flora Taveiro</b></legend>
        <h2>Desenvolvimento de Sistemas</h2>
        <h2>Quero Trabalhar na area</h2>
        <h2>Tocar guitarra</h2>
        <h2>Linkedin</h2>
        <div class="git">
          <a href="https://github.com/luizttaveiro"><b>Github</b></a>
        </div>
        <br>
      </fieldset>
    </div>
  </form>
</div>
<router-outlet></router-outlet>
